{
  "id": "mantl-api",
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "{{ mantl_api_image }}:{{ mantl_api_image_tag }}",
      "network": "BRIDGE",
      "portMappings": [
        { "containerPort": 4001, "hostPort": 0, "protocol": "tcp" }
      ],
      "forcePullImage": true
    }{% if do_mesos_auth %},
    "volumes": [
      {
        "containerPath": "/etc/sysconfig/mantl-api",
        "hostPath": "/etc/sysconfig/mantl-api",
        "mode": "RO"
      }
    ]{% endif %}
  },
  "instances": 1,
  "cpus": 0.1,
  "mem": 128,
  "env": { {% if do_consul_ssl %}
    "CONSUL_HTTP_SSL_VERIFY": "false",{% endif %}
    "MANTL_API_LOG_LEVEL": "debug",
    "MANTL_API_CONSUL": "{% if do_consul_ssl %}https{% else %}http{% endif %}://consul.service.{{ consul_dns_domain }}:8500",
    "MANTL_API_MARATHON": "{% if do_marathon_ssl %}https{% else %}http{% endif %}://marathon.service.{{ consul_dns_domain }}:8080"{% if do_marathon_auth %},
    "MANTL_API_MARATHON_USER": "{{ marathon_http_credentials.split(':')[0] }}",
    "MANTL_API_MARATHON_PASSWORD": "{{ marathon_http_credentials.split(':')[1] }}"{% endif %}{% if do_marathon_ssl %},
    "MANTL_API_MARATHON_NO_VERIFY_SSL": "true"{% endif %}{% if do_mesos_auth %},
    "MANTL_API_MESOS_PRINCIPAL": "{{ mantl_api_principal }}",
    "MANTL_API_MESOS_SECRET_PATH": "/etc/sysconfig/mantl-api"{% endif %}
  },
  "labels": {
      "traefik.enable": "false"
  },
  "healthChecks": [
    {
      "protocol": "HTTP",
      "path": "/health",
      "gracePeriodSeconds": 5,
      "intervalSeconds": 10,
      "portIndex": 0,
      "timeoutSeconds": 10,
      "maxConsecutiveFailures": 5
    }
  ]
}
