# collectd

LoadPlugin python
<Plugin python>
  ModulePath "/usr/share/collectd/plugins"
  Import "marathon"
  <Module "marathon">
    Host "{{ inventory_hostname }}.node.{{ consul_dns_domain }}"
    Port "18080"
    Verbose false
  </Module>
</Plugin>

# EOF
