#!/bin/bash

MAX_SECONDS=120
while /bin/true
do
    curl -s http://localhost:{{ marathon_port }}/ping | grep -q "pong" && exit 0 || sleep 1
    [[ "$SECONDS" -ge "$MAX_SECONDS" ]] && exit 2
done

# EOF
