{
  "id": "marathon-consul",
  "args": [
    "--registry={% if do_consul_ssl %}https{% else %}http{% endif %}://consul.service.{{ consul_dns_domain }}:8500",
    "--registry-token={{ consul_acl_master_token }}"
  ],
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "{{ marathon_consul_image }}:{{ marathon_consul_image_tag }}",
      "network": "BRIDGE",
      "portMappings": [{"containerPort": 4000, "hostPort": 4000, "protocol": "tcp"}]
    }{% if do_consul_ssl %},
    "volumes": [{
      "containerPath": "/usr/local/share/ca-certificates/",
      "hostPath": "/etc/pki/ca-trust/source/anchors/",
      "mode": "RO"
    }]{% endif %}
  },
  "constraints": [["hostname", "UNIQUE"]],
  "ports": [4000],
  "healthChecks": [{
    "protocol": "HTTP",
    "path": "/health",
    "portIndex": 0
  }],
  "instances": 1,
  "cpus": 0.1,
  "mem": 128
}
