#!/bin/bash

iptables -F MARATHON
iptables -D INPUT -p tcp --dport {{ marathon_port }} -j MARATHON
iptables -X MARATHON

iptables -N MARATHON

{% if not do_marathon_iptables|bool %}exit 0
{% endif %}

{% raw %}{{ range service "marathon" "any" }}{% endraw %}
iptables -A MARATHON -p tcp --dport {{ marathon_port }} -s {% raw %}{{ .Address }}{% endraw %} -j ACCEPT
{% raw %}{{ end }}{{ range service "traefik" "any" }}{% endraw %}
iptables -A MARATHON -p tcp --dport {{ marathon_port }} -s {% raw %}{{ .Address}}{% endraw %} -j ACCEPT
{% raw %}{{ end }}{% endraw %}
iptables -A MARATHON -p tcp --dport {{ marathon_port }} -d 127.0.0.1 -j ACCEPT
iptables -A MARATHON -p tcp --dport {{ marathon_port }} -i docker0 -j ACCEPT
iptables -A MARATHON -p tcp --dport {{ marathon_port }} -j DROP

iptables -A INPUT -p tcp --dport {{ marathon_port }} -j MARATHON
