[Unit]
Description=nginx-marathon
After=docker.service
After=consul.service
Requires=docker.service
Wants=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm nginx-marathon
ExecStartPre=-/usr/bin/docker pull {{ consul_nginx_image }}:{{ consul_nginx_image_tag }}

ExecStart=/usr/bin/docker run \
    --rm \
    --name=nginx-marathon \
    -v /etc/nginx/ssl:/etc/nginx/ssl:ro \
    -v /etc/pki/ca-trust/source/anchors/:/usr/local/share/ca-certificates/:ro \
    --env-file=/etc/default/nginx-marathon.env \
    -p 8080:8080 \
    {{ consul_nginx_image }}:{{ consul_nginx_image_tag }}

ExecStop=/usr/bin/docker kill nginx-marathon

[Install]
WantedBy=multi-user.target
