[Unit]
Description=nginx-marathon
After=docker.service
After=consul.service
Requires=docker.service
Requires=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm nginx-marathon
ExecStartPre=-/usr/bin/docker pull {{ consul_nginx_image }}:{{ consul_nginx_image_tag }} 

ExecStart=/usr/bin/docker run \
    --rm \
    --name=nginx-marathon \
    -p 8080:8080 \
    -v /etc/nginx/ssl:/etc/nginx/ssl:ro \
    -v /etc/pki/ca-trust/source/anchors/:/usr/local/share/ca-certificates/:ro \
    -e NGINX_KV=service/nginx/templates/marathon \
    -e NGINX_ENABLE_AUTH=true \
    -e NGINX_PUBLIC_IP={{ ansible_default_ipv4.address }} \
    -e CONSUL_CONNECT=consul.service.consul:8500 \
    {{ consul_nginx_image }}:{{ consul_nginx_image_tag }}  

ExecStop=/usr/bin/docker kill nginx-marathon

[Install]
WantedBy=multi-user.target
