[Unit]
Description=Consul
After=docker.service
BindsTo=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker pull {{ image }}
ExecStartPre=/usr/bin/bash -c '/usr/bin/docker ps -a | grep -q consul-data-volume || /usr/bin/docker run -v /data --name=consul-data-volume tianon/true'
ExecStart=/usr/bin/docker run --rm \
                              --name=consul \
                              --privileged \
                              --hostname=%H \
                              --volumes-from=consul-data-volume \
                              --volume=/var/run/docker.sock:/tmp/docker.sock \
                              --env=GOMAXPROCS={{ ansible_processor_cores }} \
                              -p 8300:8300 \
                              -p 8301:8301 \
                              -p 8301:8301/udp \
                              -p 8302:8302 \
                              -p 8302:8302/udp \
                              -p 8400:8400 \
                              -p 8500:8500 \
                              -p 8600:53 \
                              -p 8600:53/udp \
                              {{ image }} -dc "{{ dc }}" \
                                          -advertise "{{ advertise }}" \
                                          -rejoin
                                          {%- if retry_join is defined %} {{ retry_join }}{% endif %}
                                          {%- if is_server is defined %} -server -bootstrap-expect "{{ bootstrap_expect }}"{% endif %}
                                          {%- if gossip_key is defined %} -encrypt "{{ gossip_key }}"{% endif %}

[Install]
WantedBy=multi-user.target
