{
    "node_name": "{{ inventory_hostname }}",
    "advertise_addr": "{{ ansible_eth0.ipv4.address }}",
{% if consul_is_server is defined %}
    "server": {{ "true" if consul_is_server == true else "false" }},
    "skip_leave_on_interrupt": true,
    "leave_on_terminate": false,
{% endif %}
{% if consul_is_server is defined and consul_bootstrap_expect is defined %}
    "bootstrap_expect": {{ consul_bootstrap_expect }},
{% endif %}
    "retry_join": [
{% for host in groups['consul_servers'] %}
        "{{ hostvars[host].ansible_eth0.ipv4.address }}"{% if not loop.last %},
{% endif %}
{% endfor %}

    ],
    "rejoin_after_leave": true,
    "enable_syslog": true
}
