NGINX_KV=secure/service/nginx/templates/consul
NGINX_AUTH_TYPE=basic
NGINX_AUTH_BASIC_KV=secure/service/nginx/auth/users
NGINX_PUBLIC_IP={{ private_ipv4 }}
CONSUL_TOKEN={{ consul_acl_secure_token }}
CONSUL_LOGLEVEL=warn
