[Unit]
Description=nginx-consul
After=docker.service
After=consul.service
Requires=docker.service
Wants=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm nginx-consul
ExecStartPre=-/usr/bin/docker pull {{ consul_nginx_image }}:{{ consul_nginx_image_tag }} 

ExecStart=/usr/bin/docker run \
    --rm \
    --name=nginx-consul \
    --net=host \
    --privileged=true \
    -v /etc/nginx/ssl:/etc/nginx/ssl:ro \
    --env-file=/etc/default/nginx-consul.env \
    {{ consul_nginx_image }}:{{ consul_nginx_image_tag }}  

ExecStop=/usr/bin/docker kill nginx-consul

[Install]
WantedBy=multi-user.target
