[Unit]
Description=GlusterFS, a clustered file-system server
After=network.target rpcbind.service network-online.target dnsmasq.service consul.service

[Service]
Type=forking
PIDFile=/var/run/glusterd.pid
LimitNOFILE=65536
Environment="LOG_LEVEL=INFO"
EnvironmentFile=-/etc/sysconfig/glusterd
ExecStart=/usr/sbin/glusterd -p /var/run/glusterd.pid  --log-level $LOG_LEVEL $GLUSTERD_OPTIONS
KillMode=process

[Install]
WantedBy=multi-user.target
