docs/_build
*.pyc
.vagrant
security.yml
ssl/**/*.pem
ssl/index.txt*
ssl/serial*
ssl/.rnd

# terraform
**/*.tfstate*
**/.terraform

# downloaded by playbook
addons/library/
library/lvg.py

# vagrant build customizations
vagrant-config.yml

# packer directories
builds/
packer_cache/

# account files
account.json
# annoying osx files
.DS_Store
