[Unit]
Description=vault
After=consul.service
Wants=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=2

ExecStart=/usr/bin/vault server -config=/etc/vault/vault.config
ExecStartPost=-/bin/bash -c "[ -f /etc/vault/vault.unseal ] && /etc/vault/vault.unseal"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
