{% macro initial_cluster() -%}
{% for host in groups['all'] -%}
{% if hostvars[host]['inventory_hostname'] != 'localhost' -%}
{{ hostvars[host]['inventory_hostname'] }}={{ etcd_url_scheme }}://{{ hostvars[host]['inventory_hostname'] }}:{{ etcd_peer_port }},
{%- endif -%}
{% endfor -%}
{% endmacro -%}

{% if groups[etcd_group_name] and groups[etcd_group_name] | length > 1 %}
ETCD_NAME={{ inventory_hostname }}
ETCD_LISTEN_PEER_URLS={{ etcd_listen_peer_urls }}
{% else %}
ETCD_NAME=default
{% endif %}
ETCD_DATA_DIR={{ etcd_data_dir }}
#ETCD_SNAPSHOT_COUNTER="10000"
#ETCD_HEARTBEAT_INTERVAL="100"
#ETCD_ELECTION_TIMEOUT="1000"
ETCD_LISTEN_CLIENT_URLS={{ etcd_listen_client_urls }}
#ETCD_MAX_SNAPSHOTS="5"
#ETCD_MAX_WALS="5"
#ETCD_CORS=""

{% if groups[etcd_group_name] and groups[etcd_group_name] | length > 1 %}
#[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_initial_advertise_peer_urls }}
ETCD_INITIAL_CLUSTER={{ initial_cluster() }}
ETCD_INITIAL_CLUSTER_TOKEN={{ etcd_initial_cluster_token }}
#ETCD_DISCOVERY=""
#ETCD_DISCOVERY_SRV=""
#ETCD_DISCOVERY_FALLBACK="proxy"
#ETCD_DISCOVERY_PROXY=""
{% endif %}
ETCD_ADVERTISE_CLIENT_URLS={{ etcd_advertise_client_urls }}

#[proxy]
#ETCD_PROXY="off"

#[security]
{% if etcd_security -%}
ETCD_CA_FILE=/etc/pki/CA/ca.cert
ETCD_CERT_FILE={{ host_cert }}
ETCD_KEY_FILE={{ host_key }}
ETCD_PEER_CA_FILE=/etc/pki/CA/ca.cert
ETCD_PEER_CERT_FILE={{ host_cert }}
ETCD_PEER_KEY_FILE={{ host_key }}
{% endif -%}
