ETCD_MACHINES={% if etcd_group_name in groups %}{% for node in groups[etcd_group_name] %}{{ etcd_url_scheme }}://{{ node }}:{{ etcd_client_port }}{% if not loop.last %},{% endif %}{% endfor %}{% endif %}

SKYDNS_DOMAIN={{ cluster_name }}
