[Unit]
Before=local-fs.target docker.service docker-storage-setup.service
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mantl-storage-setup

[Install]
RequiredBy=local-fs.target docker.service docker-storage-setup.service
