{
  "service": {
    "name": "marathon",
    "tags": [ "marathon" ],
    "port": 18080,
    "check": {
      "script": "curl --silent --show-error --fail --dump-header /dev/stderr --retry 2 --connect-timeout 5 --max-time 5 http://127.0.0.1:18080/ping",
      "interval": "10s",
      "timeout": "2s"
    }
  }
}
