{# If an interface is specified for netplugin, use it #}
NETPLUGIN_ARGS='-vlan-if {{contiv_network_if}} -vtep-ip {{contiv_control_ip}} -ctrl-ip {{contiv_control_ip}} -plugin-mode kubernetes -fwd-mode {{contiv_fwd_mode}}'
