{
    "services": [
        {
            "name": "glusterfs",
            "tags": ["fs"],
            "port": 24007,
            "id": "24007:glusterfs-{{ inventory_hostname }}"
        },
        {
            "name": "glusterfs",
            "tags": ["infiniband"],
            "port": 24008,
            "id": "24008:glusterfs-{{ inventory_hostname }}"
        }
    ]
}
