{%- for credential in mesos_credentials -%}
{{ credential.principal }} {{ credential.secret }}
{% endfor -%}
{% if mesos_authenticate_followers|bool %}
{{ mesos_follower_principal }} {{ mesos_follower_secret }}
{% endif %}