PORT={{ mesos_leader_port }}
ZK=`cat /etc/mesos/zk`
CLUSTER={{ mesos_cluster }}
MESOS_QUORUM={{ groups.mesos_leaders|count // 2 + 1 }}
{% if mesos_hostname is defined %}
MESOS_HOSTNAME={{ mesos_hostname }}
{% endif %}
