PORT={{ mesos_leader_port }}
ZK=`cat /etc/mesos/zk`
CLUSTER={{ mesos_cluster }}
MESOS_QUORUM={{ groups[mesos_leaders_group]|count // 2 + 1 }}
export MESOS_IP={{ private_ipv4 }}
export MESOS_HOSTNAME={{ mesos_hostname | default(inventory_hostname + ".node." + consul_dns_domain) }}
export MESOS_AUTHENTICATORS=crammd5
{% if do_mesos_framework_auth|bool %}export MESOS_AUTHENTICATE=true
{% endif %}
{% if do_mesos_follower_auth|bool %}export MESOS_AUTHENTICATE_SLAVES=true
{% endif %}
{% if do_mesos_framework_auth|bool or do_mesos_follower_auth|bool %}
export MESOS_CREDENTIALS=/etc/mesos/credentials
{% endif %}
