{%- for credential in mesos_credentials -%}
{{ credential.principal }} {{ credential.secret }}
{% endfor -%}
{%- for host in groups["all"] %}{% if "mesos_follower_secret" in hostvars[host] %}
{{ hostvars[host].ansible_hostname }} {{ hostvars[host].mesos_follower_secret }}
{% endif %}{% endfor %}