PORT={{ mesos_leader_port }}
ZK=`cat /etc/mesos/zk`
CLUSTER={{ mesos_cluster }}
MESOS_QUORUM={{ groups.mesos_leaders|count // 2 + 1 }}
{% if mesos_hostname is defined %}
export MESOS_HOSTNAME={{ mesos_hostname }}
{% endif %}
export MESOS_AUTHENTICATORS=crammd5
{% if mesos_authenticate_frameworks %}export MESOS_AUTHENTICATE=true
{% endif %}
{% if mesos_authenticate_followers %}export MESOS_AUTHENTICATE_SLAVES=true
{% endif %}
{% if mesos_authenticate_frameworks or mesos_authenticate_followers %}export MESOS_CREDENTIALS=/etc/mesos/credentials
{% endif %}
