# common configuration
MESOS_PORT={{ mesos_follower_port }}
MESOS_ADVERTISE_IP={{ private_ipv4 }}
MESOS_IP={{ private_ipv4 }}
MESOS_HOSTNAME={{ mesos_hostname | default(inventory_hostname) }}
MESOS_EXTERNAL_LOG_FILE=/var/log/mesos/mesos-agent.log
MESOS_LOGGING_LEVEL={{ mesos_logging_level }}

# agent configuration

# required
MESOS_MASTER={{ mesos_zk }}

# optional
MESOS_ATTRIBUTES={{ mesos_attributes | join (";") }}
MESOS_RESOURCES={{ mesos_resources | join (";") }}
MESOS_CONTAINERIZERS=docker,mesos
MESOS_EXECUTOR_REGISTRATION_TIMEOUT={{ mesos_executor_registration_timeout }}
MESOS_WORK_DIR={{ mesos_work_dir }}

# authentication
{% if not (do_mesos_follower_auth|bool) %}# {% endif %}MESOS_CREDENTIAL=file:///etc/sysconfig/mesos-agent-credential

EXTRA_OPTS=""
