#!/bin/bash

iptables -F MESOSLEADER
iptables -D INPUT -p tcp --dport {{ mesos_leader_port }} -j MESOSLEADER
iptables -X MESOSLEADER

{% if not do_mesos_iptables|bool %}exit 0
{% endif %}

{# Don't add iptables rules if there are no mesos hosts #}
{% raw %}
{{ if eq 0 (len (service "mesos-leader" "any")) }}exit 0
{{ end }}{% endraw %}

iptables -N MESOSLEADER

{% raw %}{{ range service "mesos-leader" "any" }}{% endraw %}
iptables -A MESOSLEADER -p tcp --dport {{ mesos_leader_port }} -s {% raw %}{{ .Address }}{% endraw %} -j ACCEPT
{% raw %}{{ end }}
{{ range service "mesos-follower" "any" }}{% endraw %}
iptables -A MESOSLEADER -p tcp --dport {{ mesos_leader_port }} -s {% raw %}{{ .Address }}{% endraw %} -j ACCEPT
{% raw %}{{ end }}{% endraw %}
iptables -A MESOSLEADER -p tcp --dport {{ mesos_leader_port }} -d 127.0.0.1 -j ACCEPT
iptables -A MESOSLEADER -p tcp --dport {{ mesos_leader_port }} -i docker0 -j ACCEPT
iptables -A MESOSLEADER -p tcp --dport {{ mesos_leader_port }} -j DROP

iptables -A INPUT -p tcp --dport {{ mesos_leader_port }} -j MESOSLEADER
