{
  "service": {
    "name": "mesos-leader",
    "tags": ["{{ mesos_cluster }}"],
    "port": {{ mesos_leader_port }},
    "check": {
      "script": "curl --silent --show-error --fail --dump-header /dev/stderr --retry 2 http://127.0.0.1:{{ mesos_leader_port }}/master/health",
      "interval": "10s"
    }
  }
}
