NGINX_KV=secure/service/nginx/templates/mesos-leader
NGINX_AUTH_TYPE=basic
NGINX_AUTH_BASIC_KV=secure/service/nginx/auth/users
NGINX_PUBLIC_IP={{ private_ipv4 }}
CONSUL_CONNECT=consul.service.{{ consul_dns_domain }}:8500
CONSUL_TOKEN={{ consul_acl_secure_token }}
{% if do_consul_ssl|bool %}
CONSUL_SSL=true
{% endif %}
