[Unit]
Description=nginx-mesos-leader
After=docker.service
After=consul.service
Requires=docker.service
Wants=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm nginx-mesos-leader
ExecStartPre=-/usr/bin/docker pull {{ consul_nginx_image }}:{{ consul_nginx_image_tag }} 

ExecStart=/usr/bin/docker run \
    --rm \
    --name=nginx-mesos-leader \
    --env-file=/etc/default/nginx-mesos-leader.env \
    -p 5050:5050 \
    -v /etc/nginx/ssl:/etc/nginx/ssl:ro \
    -v /etc/pki/ca-trust/source/anchors/:/usr/local/share/ca-certificates/:ro \
    {{ consul_nginx_image }}:{{ consul_nginx_image_tag }}  

ExecStop=/usr/bin/docker kill nginx-mesos-leader

[Install]
WantedBy=multi-user.target
