LoadPlugin python

<Plugin "python">
    ModulePath "/usr/share/collectd/python/"
    Import "zookeeper"
    <Module "zookeeper">
        Hosts "{{ inventory_hostname }}.node.{{ consul_dns_domain }}"
    </Module>
</Plugin>
