{% if calico_image is defined %}
# Calico environment variables
DEFAULT_IPV4={{ private_ipv4 }}
ETCD_AUTHORITY={{ private_ipv4 }}:{{ etcd_client_port }}
KUBERNETES_MASTER={{ groups[master_group_name][0] }}
KUBE_API_ROOT=https://{{ groups[master_group_name][0] }}:{{ kube_master_port }}/api/v1/
CALICO_IPAM=true
{% endif %}
