[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --api-servers=http://localhost:8085 \
  --register-schedulable=false \
  --hostname-override={{ ansible_hostname }} \
  --allow-privileged=true \
  --cluster-dns={{ private_ipv4 }} \
  --cluster-domain={{ dns_domain }} \
  --config={{ kube_manifest_dir }} {% if enable_cloud_provider %}\
  --cloud-provider={{ cloud_provider }} \
  --cloud-config={{ cloud_provider_config }} {% endif %} \
  {% if calico_image is defined -%}
  --network-plugin=cni \
  --network-plugin-dir=/etc/cni/net.d {% endif %}

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
