#!/bin/bash

iptables -F CHRONOS
iptables -D INPUT -p tcp --dport {{ chronos_port }} -j CHRONOS
iptables -X CHRONOS

iptables -N CHRONOS

{% if not do_chronos_iptables|bool %}exit 0
{% endif %}

{% raw %}{{ range service "chronos" "any" }}{% endraw %}
iptables -A CHRONOS -p tcp --dport {{ chronos_port }} -s {% raw %}{{ .Address }}{% endraw %} -j ACCEPT
{% raw %}{{ end }}{% endraw %}
iptables -A CHRONOS -p tcp --dport {{ chronos_port }} -d 127.0.0.1 -j ACCEPT
iptables -A CHRONOS -p tcp --dport {{ chronos_port }} -i docker0 -j ACCEPT
iptables -A CHRONOS -p tcp --dport {{ chronos_port }} -j DROP

iptables -A INPUT -p tcp --dport {{ chronos_port }} -j CHRONOS
