NGINX_KV=service/nginx/templates/chronos
NGINX_AUTH_TYPE=basic
NGINX_AUTH_BASIC_KV=service/nginx/auth/users
NGINX_PUBLIC_IP={{ private_ipv4 }}
CONSUL_CONNECT=consul.service.{{ consul_dns_domain }}:8500
{% if do_consul_ssl|bool %}
CONSUL_SSL=true
{% endif %}
