backend "consul" {
	address = "127.0.0.1:8500"
	path = "vault"
	scheme = "http"
	token = "{{ consul_acl_master_token }}"
	advertise_addr = "https://{{ inventory_hostname }}.node.consul:{{ vault_default_port }}"
	disable_registration = "true"
}

listener "tcp" {
	address = "0.0.0.0:{{ vault_default_port }}"
	tls_cert_file = "/etc/pki/mantl/cert"
	tls_key_file = "/etc/pki/mantl/key"
}