[Unit]
Description=Marathon
After=mesos-master.service
Wants=mesos-master.service

[Service]
ExecStartPre=-/sbin/iptables -D INPUT -p tcp ! -d 127.0.0.1 --dport 8081 -j DROP
ExecStartPre=/sbin/iptables -A INPUT -p tcp ! -d 127.0.0.1 --dport 8081 -j DROP
ExecStart=/usr/bin/marathon
Restart=on-abort
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target

