input {
{% if logstash_input_log4j %}
  log4j {
    add_field => { "docker_host" => "{{ ansible_hostname }}" }
    mode => "server"
    port => {{ logstash_log4j_port }}
    type => "log4j"
  }
{% endif %}
{% if logstash_input_docker %}
  file {
    add_field => { "docker_host" => "{{ ansible_hostname }}" }
    path => "{{ logstash_docker_logs }}/*/*-json.log"
    type => "docker_log"
  }
{% endif %}
{% if logstash_input_mesos %}
  file {
    add_field => { "docker_host" => "{{ ansible_hostname }}" }
    path => "{{ logstash_mesos_logs }}/*"
    type => "mesos_log"
  }
{% endif %}
{% if logstash_input_syslog %}
  syslog {
    add_field => { "docker_host" => "{{ ansible_hostname }}" }
    port => {{ logstash_syslog_port }}
    type => "syslog"
  }
{% endif %}
{% if logstash_input_collectd %}
  udp {
    add_field => { "docker_host" => "{{ ansible_hostname }}" }
    codec => "collectd"
    port => {{ logstash_collectd_port }}
    type => "collectd"
  }
{% endif %}
{% if logstash_input_statsd %}
  udp {
    add_field => { "docker_host" => "{{ ansible_hostname }}" }
    port => {{ logstash_statsd_port }}
    type => "statsd_client"
  }
{% endif %}
}

output {
{% if logstash_output_stdout %}
  stdout {
    codec => rubydebug
  }
{% endif %}
{% if logstash_output_webhdfs %}
  webhdfs {
    workers => 2
    server => "{{ logstash_webhdfs_host }}:{{ logstash_webhdfs_port }}"
    user => "{{ logstash_webhdfs_user }}"
    path => "/logs/%{docker_host}/logstash-%{type}-%{+YYYY-MM-dd}.log"
    flush_size => 500
    compress => "gzip"
    idle_flush_time => 10
    retry_interval => 0.5
    retry_times => 3
  }
{% endif %}
{% if logstash_output_logentries %}
  logentries {
    token => "{{ logstash_logentries_token }}"
  }
{% endif %}
}
