[Unit]
Description={{ logstash_service }}
After=docker.service
Requires=docker.service
Requires=dnsmasq.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=20m

ExecStartPre=-/usr/bin/docker rm {{ logstash_container_name }}
ExecStartPre=-/usr/bin/docker pull {{ logstash_image }}:{{ logstash_image_tag }}

ExecStart=/usr/bin/docker run \
    --rm \
    --name={{ logstash_container_name }} \
    --publish={{ logstash_syslog_port }}:{{ logstash_syslog_port }} \
    --publish={{ logstash_log4j_port }}:{{ logstash_log4j_port }}/tcp \
    --publish={{ logstash_collectd_port }}:{{ logstash_collectd_port }}/udp \
    --publish={{ logstash_statsd_port }}:{{ logstash_statsd_port }}/udp \
    --publish={{ logstash_webhdfs_port }} \
    --volume={{ logstash_conf_host }}:{{ logstash_conf_container }} \
    --volume={{ docker_log_dir }}:{{ logstash_docker_logs }}:ro \
    --volume={{ mesos_log_dir }}:{{ logstash_mesos_logs }}:ro \
    {{ logstash_image }}:{{ logstash_image_tag }}

ExecStop=/bin/bash -c " \
    /usr/bin/docker kill {{ logstash_container_name }} && \
    /usr/bin/docker rm {{ logstash_container_name }}"

[Install]
WantedBy=multi-user.target
