[Unit]
Description=Netplugin
After=auditd.service systemd-user-sessions.service time-sync.target etcd.service

[Service]
EnvironmentFile=/etc/default/netplugin
ExecStart=/usr/bin/netplugin $NETPLUGIN_ARGS
KillMode=control-group

