{
    "check": {
        "id": "distributive-zookeeper-checks",
        "name": "Distributive zookeeper Health Checks",
        "service_id": "2181:zkid-{{ zookeeper_id }}",
        "script": "/bin/distributive -f /etc/distributive.d/zookeeper.json -d '' --verbosity=info",
        "status": "passing",
        "interval": "1m",
        "timeout": "30s"
    }
}
