ZK_ID={{ zookeeper_id }}
CONSUL_CONNECT=consul.service.{{ consul_dns_domain }}:8500
CONSUL_QUERY={{ zookeeper_ensemble }}.{{ zookeeper_service }}
{% if zk_super_user_secret is defined%}
ZK_SUPER_PW={{ zk_super_user_secret }}
{% endif %}
{% if zk_consul_token is defined %}
CONSUL_TOKEN={{ zk_consul_token }}
{% endif %}
{% if do_consul_ssl%}
CONSUL_SSL=true
CONSUL_SSL_VERIFY=false
{% endif %}
