[Unit]
Description={{ zookeeper_service }}
After=docker.service
Requires=docker.service
Requires=dnsmasq.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=20m

ExecStartPre=-/usr/bin/docker rm {{ zookeeper_container_name }}
ExecStartPre=-/usr/bin/docker pull {{ zookeeper_image }}:{{ zookeeper_image_tag }}
ExecStartPre=/bin/bash -c ' \
    /usr/bin/docker inspect -f "\{\{.Created\}\}" {{ zookeeper_data_volume }} || \
    /usr/bin/docker run \
        --name={{ zookeeper_data_volume }} \
        -v /var/lib/zookeeper \
        -v /var/log/zookeeper \
        ciscocloud/data-volume:0.1'

ExecStart=/usr/bin/docker run \
    --name={{ zookeeper_container_name }} \
    {{ zookeeper_ports }} \
    --env-file={{ zookeeper_env }} \
    --volumes-from {{ zookeeper_data_volume }} \
    {{ zookeeper_image }}:{{ zookeeper_image_tag }}

ExecStop=/bin/bash -c " \
    /usr/bin/docker kill {{ zookeeper_container_name }} && \
    /usr/bin/docker rm {{ zookeeper_container_name }}"

[Install]
WantedBy=multi-user.target
