{
  "name": "kibana",
  "config": {
    "kibana": {
      "id": "{{ kibana_id }}",
      "service-name": "{{ kibana_service }}",
      "image": "{{ kibana_image }}",
      "cpu": {{ kibana_cpu }},
      "ram": {{ kibana_ram }},
      "instances": {{ kibana_instances }},
      "elasticsearch-service": "{{ kibana_elasticsearch_service }}",
      "logstash-config": "{{ kibana_logstash_config|to_nice_json }}",
      "consul-ssl": {{ do_consul_ssl|to_nice_json }},
      "consul-ssl-verify": false
    }
  }
}
