###
# kubernetes system config
#
# The following values are used to configure various aspects of all
# kubernetes services, including
#
#   kube-apiserver.service
#   kube-controller-manager.service
#   kube-scheduler.service
#   kubelet.service
#   kube-proxy.service

# Comma separated list of nodes in the etcd cluster
# TODO: when using kubernetes use dns_domain istead of consul_dns_domain
{% if dns_setup is defined %}
KUBE_ETCD_SERVERS="--etcd_servers={% for node in groups[etcd_group_name] %}{{ etcd_url_scheme }}://{{ node }}:{{ etcd_client_port }}{% if not loop.last %},{% endif %}{% endfor %}"
{% else %}
KUBE_ETCD_SERVERS="--etcd_servers={{ etcd_url_scheme }}://etcd.service.{{ consul_dns_domain }}:{{ etcd_client_port }}"
{% endif %}

# logging to stderr means we get it in the systemd journal
KUBE_LOGTOSTDERR="--logtostderr=true"

# journal message level, 0 is debug
KUBE_LOG_LEVEL="--v={{ kube_log_level }}"

# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow_privileged=true"

# How the replication controller, scheduler, and proxy
KUBE_MASTER="--master=https://{{ groups[master_group_name][0] }}:{{ kube_master_port }}"
