apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: /etc/pki/CA/ca.cert
users:
- name: kubelet
  user:
    client-certificate: {{ host_cert }}
    client-key: {{ host_key }}
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
