apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.crt
users:
- name: kubelet
  user:
    client-certificate: {{ kube_cert_dir }}/kubelet.crt
    client-key: {{ kube_cert_dir }}/kubelet.key
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
