port = ":80"
graceTimeOut = 10
logLevel = "ERROR"

[web]
address = ":8081"
CertFile = "/etc/traefik/certs/traefik-admin.cert.pem"
KeyFile = "/etc/traefik/certs/traefik-admin.key.pem"

[marathon]
endpoint = "{{ traefik_marathon_endpoint }}"
domain = "{{ traefik_marathon_domain }}"
watch = true
networkInterface = "{{ ansible_default_ipv4['interface'] }}"
