[Unit]
Description=calico
After=docker.service etcd.service
Requires=docker.service etcd.service

[Service]
Type=forking
RemainAfterExit=yes
Restart=on-failure
RestartSec=20
TimeoutStartSec=20m

ExecStartPre=-/usr/bin/docker rm -f calico-node
EnvironmentFile=/etc/default/calico
ExecStart=/usr/bin/calicoctl node --ip={{ private_ipv4 }} \
                                  --node-image={{ calico_image }}:{{ calico_image_tag }} {% if kube_build is defined %}--kubernetes{% endif %}

ExecStop=/usr/bin/calicoctl node stop
ExecStopPost=-/usr/bin/docker rm -f calico-node

[Install]
WantedBy=multi-user.target
