# This node's IPv4 address
DEFAULT_IPV4={{ private_ipv4 }}

# IP and port of etcd instance used by Calico
ETCD_AUTHORITY={{ calico_etcdaddr }}

{% if kube_build is defined %}
# The Kubernetes master IP
KUBERNETES_MASTER={{ groups[master_group_name][0] }}

KUBE_API_ROOT=https://{{ groups[master_group_name][0] }}:{{ kube_master_port }}/api/v1/
{% endif  %}

# Enable Calcio IPAM
CALICO_IPAM=true
