[Unit]
Description=registrator
After=docker.service
After=consul.service
Requires=docker.service
Requires=consul.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm registrator
ExecStartPre=-/usr/bin/docker pull {{ registrator_image }}:{{ registrator_image_tag }} 

ExecStart=/usr/bin/docker run \
    --rm \
    --name=registrator \
    --hostname={{ inventory_hostname }} \
    --privileged=true \
    --link consul:consul \
    --volume=/var/run/docker.sock:/tmp/docker.sock \
    {{ registrator_image }}:{{ registrator_image_tag }} consul://consul:8500

ExecStop=/usr/bin/docker kill registrator

[Install]
WantedBy=multi-user.target
