[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/kubelet \
  --api-servers=https://kubernetes.service.consul:{{ kube_master_port }} \
  --allow-privileged=true \
  --config={{ kube_manifest_dir }} \
  --hostname-override={{ ansible_hostname }} \
  --cluster-dns={{ private_ipv4 }} \
  --cluster-domain={{ dns_domain }} \
  --kubeconfig=/etc/kubernetes/node.kubeconfig \
  --tls-cert-file={{ kube_cert_dir }}/kubelet.crt \
  --tls-private-key-file={{ kube_cert_dir }}/kubelet.key \
  --v={{ kube_log_level }} {% if enable_cloud_provider %} \
  --cloud-provider={{ cloud_provider }} \
  --cloud-config={{ cloud_provider_config }} {% endif %} \
  {% if calico_image is defined -%}
  --network-plugin=cni \
  --network-plugin-dir=/etc/cni/net.d {% endif %}

Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
